div.message{ 
  color: #FF0000;
}

div.messaged p{
  color: #f33;
}

div.top_menu{
  text-align: right;
}

.table1 table{
  border-collapse: collapse;
}

th.th1{
  color: #000;
  background-color: #c0c0c0;
  border: 1px solid #b9b9b9;
}

td.td0{
  color: #000;
  background-color: #98FB98;
  border: 1px solid #b9b9b9;
}

td.td1{
  color: #000;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
}

